[submodule "e2fgvi"]
	path = e2fgvi
	url = https://github.com/GuanhuaJi/e2fgvi.git
	branch = main
[submodule "mirage-robosuite"]
	path = mirage-robosuite
	url = https://github.com/GuanhuaJi/mirage-robosuite.git
	branch = main
[submodule "r2r-robosuite"]
	path = r2r-robosuite
	url = https://github.com/GuanhuaJi/r2r-robosuite-sim.git
	branch = main
[submodule "sam2"]
	path = sam2
	url = https://github.com/GuanhuaJi/sam2.git
	branch = main
